P1/Practica1/P1_Montero_Barraza_Alvaro_David_6BV1.zip
P1/Practica1/Reporte.pdf
P1/Practica2/P2_Montero_Barraza_Alvaro_David_5BV1.zip
P1/Practica2/ReporteP2_Montero_Barraza_Alvaro_David_5BV1.pdf
P1/Practica2/Vector.ipynb
