P1/Practica1/P1_Montero_Barraza_Alvaro_David_6BV1.zip
P1/Practica1/Reporte.pdf
P1/Practica2/P2_Montero_Barraza_Alvaro_David_5BV1.zip
P1/Practica2/ReporteP2_Montero_Barraza_Alvaro_David_5BV1.pdf
P1/Practica2/Vector.ipynb
P2/Practica4/ancient_egypt.txt
P2/Practica4/glove.6B.zip
P2/Practica4/ancient_egypt.txt
P2/Practica4/glove.6B/glove.6B.50d.txt
P2/Practica4/glove.6B/glove.6B.100d.txt
P2/Practica4/glove.6B/glove.6B.200d.txt
P2/Practica4/glove.6B/glove.6B.300d.txt
P2/Practica4/ancient_egypt.txt
.vscode/launch.json
.vscode/tasks.json
